@font-face {
    font-family: heading;
    src: url("../Home/Alegreya_SC/OFL.txt");
}
.projectsbox {
    margin: 10px auto;
    max-width: 1200px;
    padding: 0 20px; /* Add some padding for smaller screens */
}

 .projectsbox h1 {
    font-family: heading;
    color: black;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}

.responsive-two-column-grid {
    display: grid;
    grid-template-columns: 1fr; /* Default to single column */
    gap: 20px; /* Space between grid items */
}

.project-card {
    background-color: white;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    transition: transform 0.3s ease,
    background-color 0.3s ease,box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
    background-color: aliceblue;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.project-card img {
    width: 100%;
    height: auto;
}

.project-card a {
    margin: 10px auto;
    color: navy;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}

.project-card p {
    text-align: center;
    font-size: 14px;
}

/* Mobile Devices (Portrait) */
@media (max-width: 767px) {
    .projectsbox {
        margin: 20px auto;
    }

    .projectsbox h1 {
        font-size: 24px;
    }

    .project-card {
        padding: 10px;
    }

    .project-card a {
        font-size: 14px;
    }
}

/* Tablet Devices (Landscape) and Larger Screens */
@media (min-width: 768px) {
    .responsive-two-column-grid {
        grid-template-columns: 1fr 1fr; /* Two-column layout */
    }
}

/* Larger Screens */
@media (min-width: 1200px) {
    .responsive-two-column-grid {
        grid-template-columns: 1fr 1fr; /* Two-column layout */
    }

    h2 {
        font-size: 36px;
    }

    .project-card a {
        font-size: 18px;
    }
}
    