@font-face {
  font-family: heading;
  src: url("./Alegreya_SC/AlegreyaSC-Regular.ttf");
}
.Footer
{
    font-family: heading;
    background-color: black;
    color: white;
    padding: 25px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

/* General mobile styles */
@media only screen and (max-width: 768px) {
    .Footer {
      padding: 20px;
      font-size: 18px;
    }
  }
  
  /* Specific adjustments for smaller mobile screens */
  @media only screen and (max-width: 480px) {
    .Footer {
      padding: 15px;
      font-size: 16px;
    }
  }
  
  /* Extra small screens */
  @media only screen and (max-width: 320px) {
    .Footer {
      padding: 10px;
      font-size: 14px;
    }
  }
  
